<br>
<div class="container">
    <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Buscar Superheroe" [(ngModel)]="buscarsh" #textBuscar
            (keyup)="BuscarSH(textBuscar.value)">

        <span class="input-group-text">
            <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"
                style="max-width: 2xp;">
                <mat-icon>filter_list</mat-icon>
            </button>
        </span>
    </div>
    <!--  -->
    <!-- 
    <div class="container"> -->
    <div class="text-center mb-3 pb-3">
        <h1>Super-Heroes</h1>
        <div class="example-button-container">
            <button [routerLink]="['/agregarSH']" mat-mini-fab color="accent"
                aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
            </button>
        </div>
        <div class="card-group">
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item"
                        *ngFor="let sh of superheroes | filtrarSH: buscarsh | paginate: { itemsPerPage: 4, currentPage: p }  ">
                        <app-superheroes [Superheroe]="sh" [indice]="sh.id"></app-superheroes>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
<br>
<div class="example-button-container" >
    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <ngx-ui-loader bgscolor="#ffcc48" text="Cargando..." pbColor="#b12bf7" fgsType="chasing-dots" > </ngx-ui-loader>